.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 385.85px;
  min-height: 385.85px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.03);
  background-image: linear-gradient(
    to right bottom,
    rgba(120, 161, 124, 0.407),
    rgba(87, 122, 80, 0.52)
  ),
  url('https://user-images.githubusercontent.com/78454964/221198912-6bd05f85-567d-45ba-a5fd-dbbabad5b0b7.png');
  background-size: 100% 600%;
  animation: gradient 120s ease-in-out infinite reverse;
  margin: 1%;
  margin-bottom: 0;
}

.still {
  display: none;
}

.edit-delete-buttons {
  width: 20px;
  height: 20px;
}

.userinfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.pig-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.user-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 564.484px;
  height: 124px;
}

.horizontal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group select, .form-group input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 10px;
}

input {
  margin-right: 10px;
}


button {
  /* margin-top: 1rem; */
  padding: 0.5rem;
  font-size: 1rem;
}

label p {
  display: none;
}

th, td {
  padding: 10px;
  text-align: center;
  width: 10%;
}

th {
  /* background-color: blue; */
  /* border: green 2px solid; */
  color: green;
  font-weight: bold;
}

table {
  border-top: 10px green solid;
  /* margin-top: 1%; */
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  border-radius: 10px;
  max-width: 80%;
  text-align: center;
  margin-left: 9%;
}

.div-table {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.boneco-1 {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 310px;
  animation: bouncing 1s ease-in alternate infinite;
}

.img-logo {
  width: 50px;
  margin-right: 5%;
  animation-name: shake;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(2, end);
}

.logo {
  padding-top: 1px;
  display: flex;
  flex-direction: row;
  align-self: baseline;
  margin-left: 3%;
  align-items: center;
  width: 300px
}

.title {
  font-size: 25px;
  font-weight: 40;
}

.spend {
  font-size: 25px;
  margin-top: 3%;
  margin-bottom: 90px;
  animation: bouncing 1s ease-in alternate infinite;
  color: #e4e6eb;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.user-info {
  align-self: flex-end;
  margin-right: 5%;
  text-align: start;
  margin-right: 10.5%;
  margin-top: 1%;
  position: absolute;
}

.button-add {
  background-color: #4CAF50; /* cor de fundo */
  border: none; /* sem borda */
  color: white; /* cor do texto */
  padding: 10px 20px; /* preenchimento */
  text-align: center; /* alinhamento do texto */
  text-decoration: none; /* sem decoração de texto */
  display: inline-block; /* exibição em bloco */
  font-size: 16px; /* tamanho da fonte */
  margin-right: 1.9%;
  margin-top: -0.1%;
  cursor: pointer; /* cursor de ponteiro */
  border-radius: 5px; /* arredondamento da borda */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* sombra */
  transition: background-color 0.3s ease; /* transição de cor de fundo */
}

.button-add:hover {
  background-color: #3e8e41; /* cor de fundo quando o mouse passa por cima */
}











@media all and (max-width: 1325px) {
  .form-container {
    margin-left: 10%;
  }
}

@media all and (max-width: 1190px) {
  .form-container {
    margin-left: 20%;
  }
}

@media all and (max-width: 1085px) {
  .user-info {
    margin-right: 10.5%;
  }

  .spend {
    font-size: 22px;
    margin-top: 6%;
    margin-bottom: 80px;
  }

  .form-container {
    margin-left: 0%;
    z-index: 2;
  }

  .boneco-1 {
    opacity: .8;
    filter: blur(0.6px);
  }

  table {
    margin-left: 0%;
    max-width: 100%;
    width: 100%;
  }
}

@media all and (max-width: 1020px) {
  table {
    margin-left: 0%;
    width: 100%;
  }
}

@media all and (max-width: 960px) {
  .boneco-1 {
    left: 10px;
  }

  table {
    margin-left: 4%;
  }
}

@media all and (max-width: 885px) {
  table {
    margin-left: 0;
  }

  .wallet {
    width: 116vw;
  }
}

@media all and (max-width: 705px) {

  table {
    margin-left: 0;
  }

  .wallet {
    width: 151vw;
  }
}

@media all and (max-width: 555px) {

  table {
    margin-left: 0;
  }

  .wallet {
    width: 187vw;
  }
}

@media all and (max-width: 445px) {

  table {
    margin-left: 0;
  }

  .wallet {
    width: 277vw;
  }
}

















@keyframes bouncing {
  to {
    transform: translateY(2px);
  }
}

@keyframes bouncing10 {
  to {
    transform: translateY(10px);
  }
}

@keyframes shake {
  0%, 100% { transform: translateY(0); }
  10%, 90% { transform: translateY(-5px); }
  20%, 80% { transform: translateY(5px); }
  30%, 50%, 70% { transform: translateY(-5px); }
  40%, 60% { transform: translateY(5px); }
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -100% 50%;
  }
} 


.title-login{
  font-size: 40px;
  font-weight: 40;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.right-side {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fee6e6;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-form-login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-input {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.text-input label {
  display: block;
  margin-bottom: 0.5rem;
}

.text-input input {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 30rem;
}

.button-login {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  border: none;
  background-color: #83934c;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 20rem;
}

.button-login:disabled {
  background-color: #c4c4c4;
  cursor: not-allowed;
}

.lets {
  font-size: 30px;
  align-self: baseline;
  margin-bottom: 10%;
  color: #744C4D;
}

.wallet-login {
  animation: bouncing10 1s ease-in alternate infinite;
}

@media all and (max-width: 1175px) {
  .right-side {
    width: 100vw;
  }
}

@media all and (max-width: 1174px) {
  .still {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 0;
  }
  .left-side {
    width: 100svw;
    height: 100svh;
  }
  img {
    width: 300px;
  }
  body {
    overflow: hidden;
  }
  .header {
    display: none;
  }
  table {
    display: none;
  }
  .right-side {
    display: none;
  }
  .lets {
    display: none;
  }
}